.search {
  background-color: #2a2d34;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #6b7484;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #2a2d34;
}

.search_container button {
    background-color: #1C1C1C;
    cursor: pointer;
}