.user {
  background-color: #2a2d34;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user img {
  width: 140px;
  height: 140px;
  border: 4px solid #484b52;
  border-radius: 50%;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location svg {
  fill: #1277eb;
  font-size: 1.5rem;
}

.location span {
  color: #8f9197;
  font-weight: bold;
}

.stats {
  display: flex;
}

.stats div {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stats div:first-child {
  border-right: 1px solid #8f9197;
}

.stats .number {
  background-color: #1277eb;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

.user a {
    text-align: center;
    background-color: #1277eb;
    padding: 1rem;
    border-radius: 5px;
    opacity: .8;
    transition: .3s;
}

.user a:hover {
    opacity: 1;
}